<div class="d-flex flex-column h-100 boxrder">
  <div class="section-one">
    <div
      class="d-flex align-items-center justify-content-center flex-column w-50 c-width container text-center h-100 container"
    >
      <h1 class="top-heading">Contact Us</h1>
      <p class="section-one-p">
        Get in touch with us, share your thoughts, and learn how we can help<br />
        your business with fast and effective claim resolution.
      </p>
      <form class="text-start w-100">
        <div class="d-flex c-fields w-100" style="justify-content: center">
          <div class="form-group pb-1">
            <label for="FirstName">First Name*</label>
            <input
              type="text"
              id="FirstName"
              style="margin-right: 48px"
              formControlName="FirstName"
              class="form-control inputs-filed"
            />
            <div class="invalid-feedback">First Name is required.</div>
          </div>
          <div class="form-group pb-1">
            <label for="LastName">Last Name*</label>
            <input
              type="text"
              style="margin-bottom: 16px"
              id="LastName"
              formControlName="LastName"
              class="form-control inputs-filed"
            />
            <div class="invalid-feedback">Last Name is required.</div>
          </div>
        </div>
        <div class="d-flex w-100 c-fields" style="justify-content: center">
          <div class="form-group pb-1">
            <label for="Email">Email*</label>
            <input
              type="email"
              id="Email"
              style="margin-right: 48px"
              formControlName="Email"
              class="form-control inputs-filed"
            />
            <div class="invalid-feedback">Email is required.</div>
          </div>
          <div class="form-group pb-1">
            <label for="phone">Phone*</label>
            <input
              type="text"
              id="phone"
              formControlName="phone"
              class="form-control inputs-filed"
            />
            <div class="invalid-feedback">Phone is required.</div>
          </div>
        </div>
        <div
          style="
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          "
          class="form-group pb-1"
        >
          <div class="text-area">
            <label for="message">Your Message*</label>
            <textarea
              id="message"
              formControlName="message"
              style="width: 100%"
              class="form-control"
            ></textarea>
          </div>
          <div class="invalid-feedback">Message is required.</div>
        </div>
        <div class="d-flex w-100 align-items-center justify-content-center m-3">
          <button
            class="btn btn-sumbit"
            style="width: 250px; height: 41"
            kendoButtonSize="large"
            kendoButton
            (click)="onButtonClick()"
            themeColor="primary"
          >
            Submit Form
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="section-two">
    <div class="container w-100 section-two-main">
      <div class="d-flex pb-2 align-items-center">
        <img class="icon-image" src="assets/c-mail.svg" />&nbsp;&nbsp;
        <div
          class="d-flex align-items-start justify-content-center flex-column .section-two-p"
        >
          <p style="font-weight: 400 !important" class="p-0 m-0">Email</p>
          <p style="font-weight: 600 !important" class="p-0 m-0">
            contact@totalscope.com
          </p>
        </div>
      </div>
      <div class="d-flex pb-2 align-items-center">
        <img class="icon-image" src="assets/c-call.svg" />&nbsp;&nbsp;
        <div
          class="d-flex align-items-start justify-content-center flex-column .section-two-p"
        >
          <p style="font-weight: 400 !important" class="p-0 m-0">Call</p>
          <p style="font-weight: 600 !important" class="p-0 m-0">
            (720) 307-2795 (M-F 9:00 am - 5:00 pm)
          </p>
        </div>
      </div>
      <div class="d-flex pb-2 align-items-center">
        <img class="icon-image" src="assets/c-address.svg" />&nbsp;&nbsp;
        <div
          class="d-flex align-items-start justify-content-center flex-column .section-two-p"
        >
          <p style="font-weight: 400 !important" class="p-0 m-0">Address</p>
          <p style="font-weight: 600 !important" class="p-0 m-0">
            529 SH 46 E Unit B10 Boerne, TX 78006
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
