@import "../../../styles/variable";
.section-one {
  flex: 2;
  display: flex;
  align-items: center;
}

.section-one-main {
  flex: 1.2;
  height: 100%;
}
.top-heading {
  font-family: "AvenirNext-Medium";
  font-size: 22px;
  padding-top: 22px;
  padding-bottom: 16px;
  font-weight: 500;
}
.section-one-heading {
  font-family: "AvenirNext-Bold";
  width: 472.34px;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 49.5px;

  padding-bottom: 22px;
}
.section-one-list {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 9px;
  img {
    height: 24px;
    width: 24px;
    margin-right: 8px;
  }
}
.section-one-image {
  height: 493px;
  align-items: baseline;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-image: url("../../../assets/roofer.png");
}
.section-two {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #f2f8fd;
}

.section-two-main {
  font-family: "AvenirNext-Medium";
  font-weight: 500;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  font-size: 28px;
  line-height: 0.8;

  padding-bottom: 5px;

  padding-top: 43px;
}
.section-two-p {
  font-size: 17px;
  font-weight: 400;
}
.section-two-main-div {
  padding-bottom: 46px;
}

@media only screen and (max-width: 992px) {
  .about-main {
    flex-direction: column;
  }
  .top-heading {
    margin-top: 34px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16.06px;
  }

  .section-one-image {
    height: 249.026px !important;
    align-items: baseline;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url("../../../assets/roofer.png");
  }
  .section-one-heading {
    width: 338.08px;

    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 49.5px;
    margin-bottom: 31px;
  }
  .section-one-list {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 10px;

    img {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }
  }
  .section-two-main-div {
    padding: 43.746px 43.311px 49.254px 43.311px;
  }
  .section-two-main {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    width: 306.379px;
    padding-bottom: 24px;
  }
  .section-two-p {
    width: 306.379px !important;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

/* Large (LG) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .top-heading {
    font-size: 22px;
    padding-top: 22px;
    padding-bottom: 16px;
  }
  .section-one-image {
    height: 493px;
    align-items: baseline;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url("../../../assets/roofer.png");
  }
  .section-one-heading {
    width: 368.34px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.5px;

    padding-bottom: 14px;
  }
  .section-one-list {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 9px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  .section-two-main {
    font-size: 28px;
    line-height: 0.8;

    padding-bottom: 5px;

    padding-top: 43px;
  }
  .section-two-p {
    font-size: 17px;
  }
  .section-two-main-div {
    padding-bottom: 46px;
  }
}

/* Extra Large (XL) */
@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .top-heading {
    font-size: 22px;
    padding-top: 22px;
    padding-bottom: 16px;
  }
  .section-one-image {
    height: 493px;
    align-items: baseline;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url("../../../assets/roofer.png");
  }
  .section-one-heading {
    width: 472.34px;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 49.5px;

    padding-bottom: 22px;
  }
  .section-one-list {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 9px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  .section-two-main {
    font-size: 28px;
    line-height: 0.8;

    padding-bottom: 5px;

    padding-top: 43px;
  }
  .section-two-p {
    font-size: 17px;
  }
  .section-two-main-div {
    padding-bottom: 46px;
  }
}

@media screen and (min-height: 900px) and (max-height: 957px) and (min-width: 1400px) {
  .top-heading {
    font-size: 22px;
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .section-one-image {
    height: 493px;
    align-items: baseline;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url("../../../assets/roofer.png");
  }
  .section-one-heading {
    width: 472.34px;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 46.5px;

    padding-bottom: 10px;
  }
  .section-one-list {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 6px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  .section-two-main {
    font-size: 28px;
    line-height: 0.8;

    padding-bottom: 5px;

    padding-top: 30px;
  }
  .section-two-p {
    font-size: 17px;
  }
  .section-two-main-div {
    padding-bottom: 32px;
  }
}

/* Styles for screens with a height above 900 pixels */
@media screen and (min-height: 958px) and (max-height: 1024px) and (min-width: 1400px) {
  .top-heading {
    font-size: 22px;
    padding-top: 22px;
    padding-bottom: 16px;
  }
  .section-one-image {
    height: 493px;
    align-items: baseline;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url("../../../assets/roofer.png");
  }
  .section-one-heading {
    width: 472.34px;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 49.5px;

    padding-bottom: 22px;
  }
  .section-one-list {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 9px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  .section-two-main {
    font-size: 28px;
    line-height: 0.8;

    padding-bottom: 5px;

    padding-top: 43px;
  }
  .section-two-p {
    font-size: 17px;
  }
  .section-two-main-div {
    padding-bottom: 46px;
  }
}
@media screen and (min-height: 1025px) and (min-width: 1400px) {
  .top-heading {
    font-size: 22px;
    padding-top: 22px;
    padding-bottom: 16px;
  }
  .section-one-image {
    height: 493px;
    align-items: baseline;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url("../../../assets/roofer.png");
  }
  .section-one-heading {
    width: 472.34px;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 49.5px;

    padding-bottom: 22px;
  }
  .section-one-list {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 9px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  .section-two {
    flex: 3;
    display: flex;
    align-items: center;
    background-color: #f2f8fd;
  }
  .section-two-main {
    font-size: 28px;
    line-height: 0.8;

    padding-bottom: 5px;

    padding-top: 43px;
  }
  .section-two-p {
    font-size: 17px;
  }
  .section-two-main-div {
    padding-bottom: 46px;
  }
}

// @media only screen and (max-height: 766px) and (min-width: 769px) {
//   .top-heading {
//     font-family: "AvenirNext-Medium";
//     font-size: 16px;
//     font-weight: 500;
//   }
//   .section-one-heading {
//     font-family: "AvenirNext-Bold";
//     font-size: 25px;
//     font-weight: 700;
//     line-height: 1;
//     padding-bottom: 10px;
//     width: 260.34px;
//   }
//   .section-one-list {
//     display: flex;
//     align-items: center;
//     justify-content: start;
//     font-size: 15px;
//     font-weight: 600;
//     img {
//       height: 18px;
//       width: 18px;
//     }
//   }
//   .section-one-image {
//     height: 317px;
//     object-fit: inherit;
//     object-position: top;
//     width: 100%;
//   }
//   .section-two {
//     flex: 1;
//     display: flex;
//     align-items: center;
//     background-color: #f2f8fd;
//   }
//   .section-two-main {
//     font-family: "AvenirNext-Medium";
//     font-size: 16px;
//     line-height: 0.7;
//     font-weight: 500;
//     padding-bottom: 5px;
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     justify-content: center;
//     padding-top: 20px;
//   }
//   .section-two-p {
//     font-size: 14px;
//     font-weight: 400;
//   }
// }

@media #{$extra-large-device} {
  .top-heading {
    font-size: 22px;
  }
  // .section-one-image {
  //   height: 440px;
  // }
  .section-one-heading {
    font-size: 46px;

    padding-bottom: 10px;
  }
  .section-one-list {
    font-size: 20px;
    img {
      height: 24px;
      width: 24;
    }
  }
  .section-two-main {
    font-size: 22px;
    line-height: 0.8;

    padding-bottom: 5px;

    padding-top: 43px;
  }
  .section-two-p {
    font-size: 18px;
  }
  .section-two-main-div {
    padding-bottom: 46px;
  }
}
