@import "../../../styles/variable";
.section-one {
  flex: 2;
  display: flex;
  align-items: center;
}

.section-one-main {
  flex: 1;
  height: 100%;
}
.top-heading {
  font-size: 16px;
  font-weight: 500;
}
.section-one-heading {
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 10px;
}
.section-one-list {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 15px;
  font-weight: 600;
  img {
    height: 18px;
    width: 18;
  }
}
.section-one-image {
  object-fit: cover;
  object-position: top;
  height: 280px;
  width: 100%;
}
.section-two {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #f2f8fd;
}
.section-two-main {
  font-size: 16px;
  line-height: 0.8;
  font-weight: 500;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-top: 10px;
}
.section-two-p {
  font-size: 14px;
  font-weight: 400;
}
@media #{$laptop-device} {
  .top-heading {
    font-size: 22px;
  }
  .section-one-image {
    height: 400px;
  }
  .section-one-heading {
    font-size: 44px;

    padding-bottom: 10px;
  }
  .section-one-list {
    font-size: 18px;
    img {
      height: 24px;
      width: 24;
    }
  }
  .section-two-main {
    font-size: 28px;
    line-height: 0.8;

    padding-bottom: 5px;

    padding-top: 10px;
  }
  .section-two-p {
    font-size: 17px;
  }
}
@media #{$extra-large-device} {
  .top-heading {
    font-size: 22px;
  }
  .section-one-image {
    height: 440px;
  }
  .section-one-heading {
    font-size: 46px;

    padding-bottom: 10px;
  }
  .section-one-list {
    font-size: 20px;
    img {
      height: 24px;
      width: 24;
    }
  }
  .section-two-main {
    font-size: 22px;
    line-height: 0.8;

    padding-bottom: 5px;

    padding-top: 10px;
  }
  .section-two-p {
    font-size: 18px;
  }
}
