<div class="d-flex flex-column h-100 boxrder">
  <div style="height: inherit" class="section-one">
    <div
      style="height: 100% !important"
      class="d-flex about-main w-100 container"
    >
      <div class="section-one-main">
        <div class="top-heading">About TotalScope</div>
        <div class="section-one-heading">
          TotalScope’s Founders Have Real Industry Experience:
        </div>

        <div class="section-one-list" *ngFor="let item of items">
          <img
            height="18px"
            width="18px"
            src="assets/check-blue.svg"
            alt="check"
          /><span>{{ item.text }}</span>
        </div>
        <div class="pb-lg-2"></div>
      </div>
      <div style="flex: 2; height: inherit !important">
        <div class="section-one-image" style="height: inherit">
          <!-- <img class="section-one-image" src="assets/roofer.png" alt="roof" /> -->
        </div>
      </div>
    </div>
  </div>

  <div class="section-two">
    <div class="container section-two-main-div">
      <div class="section-two-main">Why We Started TotalScope</div>
      <span class="section-two-p py-lg-2 m-0">
        After running a successful roofing & restoration company for a number of
        years, we noticed that our in-house estimates far out-paced those of our
        fellow contractors. First one, then another, then more and more were
        asking us to write their estimates for them, as they were getting larger
        and larger claims easily approved.
        <br /><br />
        We turned this into our side hustle, then one day found that roofing had
        become the side hustle after writing estimates and supplements was
        taking most of our time. The writing was on the wall, so we decided to
        go all-in on TotalScope. We created a data-collection app that has taken
        the industry by surprise, and by storm. Our proprietary process in
        creating top-notch estimates is allowing us to serve you, our clients,
        better and better every day by increasing not only your bottom line but
        also decreasing your time spent on each project. So, now you can go
        fishing, or do another project, the choice is yours. Either way, we got
        you covered.
      </span>
    </div>
  </div>
</div>
