.center {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}
.center-justify {
  justify-content: space-between;
}
.footer {
  border-top: 2px solid #f2f8fd;

  width: 100%;
}
