<kendo-appbar position="top">
 
  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <kendo-appbar-section class="appbar-items show-titles">
    <kendo-appbar-section class="title">
      <img src="assets/logo.png" alt="logo" />
      <button
        kendoButton
        fillMode="flat"
        class="overflow-button"
        #anchor
        (click)="onToggle()"
      >
        <kendo-icon name="menu"></kendo-icon>
      </button>
      <kendo-popup [anchor]="anchor.element" *ngIf="show" [margin]="margin">
        <div class="content">
          <ul>
            <li><span>Home </span></li>
            <li><span>About</span></li>
            <li><span>Pricing</span></li>
            <li><span>Videos</span></li>
            <li><span>Testimonials</span></li>
            <li><span>Contacts</span></li>
          </ul>
        </div>
      </kendo-popup>
    </kendo-appbar-section>
    <ul class="show-titles">
      <li><span class="active">Home </span></li>
      <li><span>About</span></li>
      <li><span>Pricing</span></li>
      <li><span>Videos</span></li>
      <li><span>Testimonials</span></li>
      <li><span>Contacts</span></li>
    </ul>

    <div>
      <button
        class="btn"
        kendoButton
        (click)="onButtonClick()"
        fillMode="outline"
      >
        Login
      </button>
      &nbsp;&nbsp;
      <button
        class="btn"
        kendoButton
        (click)="onButtonClick()"
        themeColor="primary"
      >
        Login
      </button>
    </div>
  </kendo-appbar-section>
</kendo-appbar>
