body {
  margin: 0px;
}
.appbar-items {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.active {
  color: #306fd5;
}
.title {
  font-size: 18px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.k-appbar-light {
  background-color: white;
}
.k-appbar {
  box-shadow: none;
}
kendo-badge-container {
  margin-right: 8px;
}
ul {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
li {
  margin: 0 9px;
}
li:hover {
  color: #306fd5;
  cursor: pointer;
}
.k-appbar-section {
  display: flex;
}
.content li {
  margin: 0;
  padding: 6px 5px;
}
.content ul {
  display: block;
}
.content {
  padding: 4px;
}

.btn {
  border-radius: 32px;
  padding: 6px 29px;
}
@media only screen and (max-width: 600px) {
  .search-section {
    display: none;
  }

  .appbar-items,
  .user-actions kendo-badge-container,
  kendo-avatar.k-avatar,
  .k-appbar-separator {
    display: none;
  }
  .show-titles {
    display: none;
  }

  .overflow-button,
  .search {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .appbar-items,
  .search,
  kendo-avatar.k-avatar,
  .user-actions kendo-badge-container,
  .k-appbar-separator {
    display: none;
  }
  .show-titles {
    display: flex;
  }

  .overflow-button {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .appbar-items,
  .user-actions kendo-badge-container,
  .k-appbar-separator,
  kendo-avatar.k-avatar {
    display: block;
  }
  .show-titles {
    display: flex;
  }

  .overflow-button {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
