<div class="hero">
  <div class="left">
    <h1 class="heading">The Future <br />of Estimating</h1>
    <p class="sub-text">
      Your time is money, and we respect that. Register your company, install
      our mobile app, or log in on our web portal.
    </p>
    <div class="btn-section">
      <button
        class="btn"
        kendoButton
        (click)="onButtonClick()"
        themeColor="primary"
      >
        Get Started
      </button>
      &nbsp;&nbsp; &nbsp;
      <img class="check-image" src="assets/check.png" alt="check" />
      &nbsp;
      <span>Your first estimate is free</span>
    </div>
  </div>
  <div class="right">
    <app-video></app-video>
  </div>
</div>
