@import "../../../styles/variable";



.qr-image {
  height: 105.6px;
  width: 105.6px;
}


.howe-wrapper {
  width: 100% !important;

  display: flex !important;
  flex-direction: column !important;
  height: 100%;
}

.main-content {
  // flex: 1;
}
.app-store {
  height: 31.06px;
  width: 105.6px;
}

.main-one {
   padding: 17px 0px;
  // flex: 2;

  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.main {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.sectionOne {
  display: flex;
  flex-direction: column;
}
.sectionTwo {
  display: flex;
}
.heading1 {
 
  width: 422.5px;
  padding-bottom: 39px;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}
.qr {
  margin-top: 20px;
  height: 260px;
  font-size: 20px;
  width: 274px;
  background-color: #f2f8fd;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-family: "AvenirNext-Medium";
  justify-content: center;
  flex-direction: column;
}


/* Large (LG) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .main-one {
        // flex: 2;
        padding: 17px 0px;
      }
      .main {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
      }
      .app-store {
        height: 31.06px;
        width: 105.6px;
      }
      .qr-image {
        height: 105.6px;
        width: 105.6px;
      }
      .heading1 {
        width: 422.5px;
        padding-bottom: 39px;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
      }
      .qr {
        align-self:center;
        margin-top: 20px;
        margin-bottom: 0px;
        height: 260px;
        font-size: 20px;
        width: 274px;
      }
}

/* Extra Large (XL) */
@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .main-one {
    // flex: 2;
    padding: 17px 0px;
  }
  .main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .app-store {
    height: 31.06px;
    width: 105.6px;
  }
  .qr-image {
    height: 105.6px;
    width: 105.6px;
  }
  .heading1 {
    width: 422.5px;
    padding-bottom: 39px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
  }
  .qr {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 260px;
    font-size: 20px;
    width: 274px;
  }
}




@media screen and (min-height: 900px) and (max-height: 957px) {
  .main-one {
    // flex: 2;
    padding: 10px 0px;
  }
  .main {
    margin-top: 20px;
    margin-bottom: 18px;
  }
  .app-store {
    height: 31.06px;
    width: 105.6px;
  }
  .qr-image {
    height: 105.6px;
    width: 105.6px;
  }
  .heading1 {
    width: 422.5px;
    padding-bottom: 30px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
  }
  .qr {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 260px;
    font-size: 20px;
    width: 274px;
  }
}

/* Styles for screens with a height above 900 pixels */
@media screen and (min-height: 958px) {
  .main-one {
    // flex: 2;
    padding: 17px 0px;
  }
  .main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .app-store {
    height: 31.06px;
    width: 105.6px;
  }
  .qr-image {
    height: 105.6px;
    width: 105.6px;
  }
  .heading1 {
    width: 422.5px;
    padding-bottom: 39px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
  }
  .qr {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 260px;
    font-size: 20px;
    width: 274px;
  }
}

// @media #{$laptop-device}  and (min-height: 958px) {
//   .main-one {
//     // flex: 2;
//     padding: 17px 0px;
//   }
//   .main {
//     margin-top: 30px;
//     margin-bottom: 30px;
//   }
//   .app-store {
//     height: 31.06px;
//     width: 105.6px;
//   }
//   .qr-image {
//     height: 105.6px;
//     width: 105.6px;
//   }
//   .heading1 {
//     width: 422.5px;
//     padding-bottom: 39px;
//     font-size: 28px;
//     font-style: normal;
//     font-weight: 500;
//     line-height: 34px;
//   }
//   .qr {
//     margin-top: 20px;
//     margin-bottom: 0px;
//     height: 260px;
//     font-size: 20px;
//     width: 274px;
//   }
// }
// @media #{$extra-large-device} {
//   .main-one {
//     // flex: 2;
//     padding: 19.5px 0px;
//   }
//   .main {
//     margin-top: 36.75px;
//     margin-bottom: 41.25px;
//   }
//   .app-store {
//     height: 31.06px;
//     width: 105.6px;
//   }
//   .qr-image {
//     height: 105.6px;
//     width: 105.6px;
//   }
//   .heading1 {
//     width: 422.5px;
//     padding-bottom: 39px;
//     font-size: 28px;
//     font-style: normal;
//     font-weight: 500;
//     line-height: 34px;
//   }
//   .qr {
//     margin-top: 20px;
//     margin-bottom: 0px;
//     height: 260px;
//     font-size: 20px;
//     width: 274px;
//   }
// }

@media only screen and (max-width: 992px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .main-one {
    padding: 28.9px 30px;
  }
  .heading1 {
    width: 333px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
  }
  .sectionOne {
    align-items: center;
    padding-top: 17px;
    padding-bottom: 43.83px;
  }
  .sectionTwo {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .qr {
    width: 331px;
    height: 260px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }
  .app-store {
    width: 105.605px;
    height: 31.06px;
  }
  .qr-image {
    width: 105.605px;
    height: 105.605px;
  }
  .heading1 {
    text-align: center !important;
  }
}
// @media only screen and (max-width: 1200px) {
//   .main {
//     flex-direction: column;
//   }
//   .qr {
//     align-self: center;
//   }
// }
