.center {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}
.center-justify {
  justify-content: space-between;
  height: 80px;
  padding: 28.5px 0px 27.5px 0px;
}
.footer {
  display: flex;
  align-items: center;
  border-top: 2px solid #f2f8fd;
  width: 100%;
  // padding: 8px 0px;
}
@media only screen and (max-width: 768px) {
  .center {
    font-size: 12px;
  }
  .center-justify {
    flex-direction: column;
    padding: 29.5px 38.48px 41.5px 38.48px !important;
    gap: 21px;
    height: auto;
  }
  .footer {
    // margin-top: 20px;
    padding: 0px;
  }
  .check-image {
    height: 15px;
    width: 15px;
  }
}
