html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.fit-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.appNavbar {
  flex: 0;
  // border: 1px solid blue;
}
.main-content {
  flex: 1;

  // border: 1px solid red;
}

.footer-flex {
  flex: 0;
}

.main-one {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .appFooter {
//   flex: 0 0 auto;
// }
