.main {
  display: flex;
  justify-content: space-between;
  // height: 210px;
  // padding: 10px 0px;
}
.sectionOne {
  display: flex;
  flex-direction: column;
}
.sectionTwo {
  display: flex;
}
.heading1 {
  font-size: 22px;
  line-height: 1;
  font-weight: 500;
}
.qr {
  background-color: #f2f8fd;
  width: 300px;
  margin-bottom: 10px;
  // height: 260px;
  // margin: 10px;
  // padding: 19px 0px;
  padding: 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .sectionOne {
    align-items: center;
  }
  .sectionTwo {
    flex-direction: column;
  }
  .heading1 {
    text-align: center !important;
  }
}
@media only screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
    // align-items: center;
  }
  .qr {
    align-self: center;
  }
}
