@import "../../../styles/variable";
.section-one {
  flex: 1;
  display: flex;
  align-items: center;
}

.section-one-main {
  flex: 1;
  height: 100%;
}
.top-heading {
  padding-top: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
}
.section-one-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
.section-one-p {
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
}

.section-two {
  flex: 2;
  display: flex;
  align-items: center;
  background-color: #f2f8fd;
}
.section-two-main {
  font-size: 28px;
  //   line-height: 41px;
  font-weight: 700;
}

// @media #{$laptop-device} {
//   .top-heading {
//     font-size: 18px;
//   }
//   .section-one-image {
//     height: 350px;
//   }
//   .section-one-heading {
//     font-size: 30px;

//     padding-bottom: 10px;
//   }
//   .section-one-list {
//     font-size: 18px;
//   }
//   .section-two-main {
//     font-size: 18px;
//     line-height: 0.8;

//     padding-bottom: 5px;

//     padding-top: 10px;
//   }
//   .section-two-p {
//     font-size: 16px;
//   }
// }
// @media #{$extra-large-device} {
//   .top-heading {
//     font-size: 22px;
//   }
//   .section-one-image {
//     height: 390px;
//   }
//   .section-one-heading {
//     font-size: 36px;

//     padding-bottom: 10px;
//   }
//   .section-one-list {
//     font-size: 20px;
//   }
//   .section-two-main {
//     font-size: 22px;
//     line-height: 0.8;

//     padding-bottom: 5px;

//     padding-top: 10px;
//   }
//   .section-two-p {
//     font-size: 18px;
//   }
// }
