<div class="container howe-wrapper">
  <div class="main-one container order-1">
    <future-estimate></future-estimate>
  </div>
  <div class="order-2 container" style="flex: 1">
    <!-- <app-home-section class="container"></app-home-section> -->
    &nbsp;
    <div class="main">
      <div class="sectionOne">
        <div class="heading1">
          Estimates that save you time and <br />communication with the carrier
        </div>
        <div class="sectionTwo">
          <estimate-card *ngFor="let item of items" [estimateCardData]="item"></estimate-card>
        </div>
      </div>
      <div class="qr">
        <div style="font-size: 16px">
          Download <span style="color: #1ce8cf; font-weight: 700"> FREE </span>
        </div>
        <div style="font-size: 16px; margin-bottom: 4px">
          TotalScope Mobile App
        </div>

        <div>
          <img
            height="30px"
            width="90px"
            src="assets/google-play.svg"
            alt="google"
          />
          &nbsp;
          <img
            height="30px"
            width="90px"
            src="assets/app-store.svg"
            alt="app"
          />
        </div>
        <div>
          <img
            height="90px"
            width="90px"
            src="assets/qrcode.svg"
            alt="qrcode"
          />
          &nbsp;
          <img
            height="90px"
            width="90px"
            src="assets/qrcode.svg"
            alt="qrcode"
          />
        </div>
      </div>
    </div>
  </div>
</div>
