<kendo-appbar class="navhight container p-0" position="top">
  <kendo-appbar-section class="appbar-items show-titles">
    <kendo-appbar-section class="title">
      <img src="assets/logo.svg" alt="logo" />
    </kendo-appbar-section>
    <ul class="show-titles d-none d-lg-flex">
      <li
        *ngFor="let link of navLinks"
        (click)="onClickLink(link.path)"
        class="links"
      >
        <span [class]="activeLink == link.path ? 'active' : ''"
          >{{ link.text }}
        </span>
      </li>
    </ul>
    <div class="d-none d-lg-flex">
      <button
        class="btn c-btn me-2"
        kendoButton
        (click)="onButtonClick()"
        fillMode="outline"
      >
        Login
      </button>
      <div
        (click)="onButtonClick()"
        class="d-flex align-items-center c-btn primary-c-btn"
      >
        <span>Register</span> <img src="assets/Polygon.svg" alt="" />
      </div>
    </div>
    <button
      kendoButton
      fillMode="flat"
      [style]="
        show
          ? 'background-color: #0c1d3e !important;height: 40px;width: 40px; '
          : 'height: 40px;width: 40px;'
      "
      class="overflow-button d-lg-none btt-icons d-flex align-self-center justify-content-center"
      #anchor
      (click)="onToggle()"
    >
      <img [src]="show ? 'assets/cross.svg' : 'assets/menu.svg'" alt="" />
    </button>
    <kendo-popup
      [popupAlign]="popupAlign"
      style="left: 420px !important"
      [anchor]="anchor.element"
      *ngIf="show"
      [margin]="margin"
    >
      <div class="content popup p-2">
        <ul>
          <li
            *ngFor="let link of navLinks"
            (click)="onClickLink(link.path)"
            class="links"
          >
            <span [class]="activeLink == link.path ? 'active' : ''"
              >{{ link.text }}
            </span>
          </li>
          <div class="d-flexcol">
            <button
              size="small"
              class="btn"
              style="
                margin-top: 11px;
                margin-bottom: 12px;
                display: flex;
                width: 160px;
                height: 32px;
                padding: 5px 0px;
                justify-content: center;
                align-items: center;
              "
              kendoButton
              (click)="onButtonClick()"
              fillMode="outline"
            >
              Login
            </button>

            <div
              style="
                display: flex;
                width: 160px;
                height: 32px;
                padding: 4px 35.5px;
                align-items: center;
              "
              (click)="onButtonClick()"
              class="d-flex align-items-center c-btn primary-c-btn"
            >
              <span>Register</span> <img src="assets/Polygon.svg" alt="" />
            </div>
          </div>
        </ul>
      </div>
    </kendo-popup>
  </kendo-appbar-section>
</kendo-appbar>
