@import "../../../../../styles/variable";

.pricing-card {
  background-color: white;
  height: 220px;
  width: 240px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 15px 10px;
  img {
    height: 50px;
    width: 50px;
  }
  div {
    color: #306fd5;
    padding-top: 5px;
  }
  p {
    font-size: 12px;
  }
}

@media #{$laptop-device} {
  .pricing-card {
    height: 254px;
    width: 250px;
    padding: 35px 15px 15px 10px;
    img {
      height: 52px;
      width: 52px;
    }
    div {
      padding-top: 10px;
    }
    p {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
@media #{$extra-large-device} {
  .pricing-card {
    height: 290px;
    width: 280px;
    padding: 45px 25px 25px 20px;
    img {
      height: 55px;
      width: 55px;
    }
    div {
      padding-top: 15px;
    }
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
