@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: "AvenirNext";
    src: url("./assets/fonts/AvenirNext\ forINTUIT\ W05\ Demi_web.woff.ttf")
      format("truetype");
  }

// IMPORT OUR SCSS FILES
@import "styles/variable";
@import "styles/index";


body {
    font-family: "AvenirNext", sans-serif;
}